<h1>Список користувачів</h1>

<table>
  <tr>
    <th><aa>Ім’я</th>
    <th><aa>Емейл</th>
    <th><aa>День народження</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.birthday %></td>
    <td><%= link_to 'Переглянути', user %></td>
    <td><%= link_to 'Змінити', edit_user_path(user) %></td>
    <td><%= link_to 'Знищити', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Відправити' ,user, :confirm => 'Вітання відправлено!', :method => :send %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Додати нового користувача', new_user_path %>
